
@{
    ViewData["Title"] = "Depoimentos";
}

<link rel="stylesheet" href="~/css/Depoimentos.css" asp-append-version="true" />


<body>


    <h1>O que estão dizendo sobre a CãoPortado?</h1>

    <section class="cards">
     
        <div class="card">

            <img class="user" src="/img/persona3.jpg" alt=""/>
            <h3>Natália Andrade</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>E você transformou o nosso Chopp. Hoje ele fica conosco o tempo todo dentro de casa, 
                como eu sonhei. Gratidão!</p>

         </div>

         <div class="card">

            <img class="user" src="/img/persona1.jpg" alt=""/>
            <h3>Myriam Becho</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Do fundo do meu coração, não tenho palavras para expressar o quão vocês são
                dedicados aos nossos pets.</p>

         </div>

         <div class="card">

            <img class="user" src="/img/persona2.jpeg" alt=""/>
            <h3>Anna Morais</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Hoje cada uma sabe seu horário e momento de comer, antes isso era impossível, uma confusao tremenda...
            </p>
         </div>
         <br /><br />

    </section>


    





</body>

