
@{
    ViewData["Title"] = "Depoimentos";
}

<link rel="stylesheet" href="~/css/Depoimentos.css" asp-append-version="true" />


<body>


    <h1>O que estão dizendo sobre nosso Hotel?</h1>

    <section class="cards">

        <div class="card">

            <img class="user" src="/img/vino.jpg" alt=""/>
            <h3>vino</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Eu vou matar o Hector Eu vou matar o Hector Eu vou matar o Hector Eu vou matar o Hector</p>

         </div>

         <div class="card">

            <img class="user" src="/img/vino.jpg" alt=""/>
            <h3>vino</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Eu vou matar o Hector Eu vou matar o Hector Eu vou matar o Hector Eu vou matar o Hector</p>

         </div>

         <div class="card">

            <img class="user" src="/img/vino.jpg" alt=""/>
            <h3>vino</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Eu vou matar o Hector Eu vou matar o Hector Eu vou matar o Hector Eu vou matar o Hector</p>

         </div>

    </section>


    





</body>

