
@{
    ViewData["Title"] = "Depoimentos";
}

<link rel="stylesheet" href="~/css/Depoimentos.css" asp-append-version="true" />


<body>


    <h1>O que estão dizendo sobre a CãoPortado?</h1>

    <section class="cards">
     
        <div class="card">

            <img class="user" src="/img/persona1.jpg" alt=""/>
            <h3>vino</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

         </div>

         <div class="card">

            <img class="user" src="/img/persona1.jpg" alt=""/>
            <h3>vino</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

         </div>

         <div class="card">

            <img class="user" src="/img/persona1.jpg" alt=""/>
            <h3>vino</h3>

            <div class="stars">
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
                <img class="user" src="/img/star.svg" alt=""/>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

         </div>
         <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    </section>


    





</body>

