@{
    ViewData["Title"] = "A Empresa";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    <title>A Empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="icon/ico" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/css/AEmpresa.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
</head>

<body>
    <!--Quem somos - topo-->
    <div class="about-top">
        <h1>Quem somos</h1>
        <p>
            Somos uma empresa especializada no cuidado com cachorros, 
            e temos muito a oferecer ao seu pet, como: playground, brincadeiras, 
            enriquecimento ambiental e muito mais. <br />
            Somos "o lugar que seu cão sempre SONHOU!"
            Saiba mais: 
        </p>
    </div>

     <!--containers serviços-->
    <div class="container">
        <h3>CRECHE</h3>
        <p>
            Os cães possuem muita energia! 
            Em nossa creche, as atividades são constantes
            e seu cãozinho fica sob os cuidados de 
            nossa equipe, para se divertir o dia inteiro 
            e chegar em casa feliz da vida! 
        </p>
    </div>
    <div class="container">
        <h3>HOTEL</h3>
        <p>
             Hospedagem aos cãezinhos que estão precisando ficar em algum 
             lugar, enquanto seus donos precisam fazer alguma atividade 
             que eles não podem acompanhar.
             Por um fim de semana ou até um mês... seu cãozinho será muito bem cuidado
             em nosso PetHotel!

        </p>
    </div>
    <div class="container">
        <h3>ADESTRAMENTO</h3>
        <p>
            O adestramento é um processo contínuo, sistemático e organizado, 
            que permite desenvolver habilidades necessárias para o 
            perfeito entendimento a um comando ou para modificação 
            de determinados comportamentos do animal.
        </p>
    </div>

    <!--carrossel (caso faça album <!--https://www.youtube.com/watch?v=jiS1hxKfFyY)-->

    <div class="car-about">
        <div class="slides">
            <input type="radio" name="slide" id="slide1">
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">
            <input type="radio" name="slide" id="slide5">


            <div class="slides s1">
                <img src="~/img/sobre-adest1.jpg" alt="dog1">
            </div>
            <div class="slides">
                <img src="~/img/sobre-adest1.jpg" alt="dog2">
            </div>
            <div class="slides">
                <img src="~/img/sobre-adest1.jpg" alt="dog3">
            </div>
            <div class="slides">
                <img src="~/img/sobre-adest1.jpg" alt="dog4">
            </div>
            <div class="slides">
                <img src="~/img/sobre-adest1.jpg" alt="dog5">
            </div>
        </div>

        <div class="navigation">
            <label class="bar" for="slide1"></label>
            <label class="bar" for="slide2"></label>
            <label class="bar" for="slide3"></label>
            <label class="bar" for="slide4"></label>
            <label class="bar" for="slide5"></label>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    
   
</body>

</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}