@{
    ViewData["Title"] = "A Empresa";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="icon" type="icon/ico" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/css/AEmpresa.css">
    
   
</head>

<body>
    <!--Quem somos - topo-->
    <div class="about-top">
        <h1>Quem somos</h1>
        <p>
            Somos uma empresa especializada no cuidado com cachorros, 
            e temos muito a oferecer ao seu pet, como: playground, brincadeiras, 
            enriquecimento ambiental e muito mais. <br />
            Somos "o lugar que seu cão sempre SONHOU!"
            Saiba mais: 
        </p>
    </div>

     <!--containers serviços-->
    <div class="cont-about">
        <h3>CRECHE</h3>
        <p>
            Os cães possuem muita energia! 
            Em nossa creche, as atividades são constantes
            e seu cãozinho fica sob os cuidados de 
            nossa equipe, para se divertir o dia inteiro 
            e chegar em casa feliz da vida! 
        </p>
    </div>
    <div class="cont-about">
        <h3>HOTEL</h3>
        <p>
             Hospedagem aos cãezinhos que estão precisando ficar em algum 
             lugar, enquanto seus donos precisam fazer alguma atividade 
             que eles não podem acompanhar.
             Por um fim de semana ou até um mês... seu cãozinho será muito bem cuidado
             em nosso PetHotel!

        </p>
    </div>
    <div class="cont-about">
        <h3>ADESTRAMENTO</h3>
        <p>
            O adestramento é um processo contínuo, sistemático e organizado, 
            que permite desenvolver habilidades necessárias para o 
            perfeito entendimento a um comando ou para modificação 
            de determinados comportamentos do animal.
        </p>
    </div>


    <!--(caso faça album (https://www.youtube.com/watch?v=Q4odePg5zB8)-->
   
    <h1 class="h1-class">Galeria de fotos e vídeos</h1>
        <div class="video-cont">
            <a href="videos"><img src="~/img/footprints-video.png" alt="Clique para ver nossos vídeos"></a>
        </div>
    
        <div class="foto-cont">
            <a href="fotosevideos"><img src="~/img/book.png" alt="Clique para ver nossas fotos"></a>
        </div>
   
  
    
   
</body>

</html>
