@{
    ViewData["Title"] = "Galeria de fotos";
}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
         <link rel="stylesheet" href="~/css/fEv.css">
         
    </head>
    <body>
        <h1>Galeria de fotos</h1>
        <!-- Gallery -->

        <div class="row">
  <div class="column">
    <img src="~/img/adestrar-cachorro.jpg">
    <img src="~/img/cars2.jpg">
    <img src="~/img/cars3.jpg">
    <img src="~/img/dog-adest.jpg">
    <img src="~/img/laula-co-pdKPFBysSfA-unsplash.jpg">
    <img src="~/img/happy-dog-2.jpg">
    <img src="~/img/maxresdefault.jpg">
  </div>
  <div class="column">
    <img src="~/img/dogs/dog1.jpg">
    <img src="~/img/dogs/dog2.jpg">
    <img src="~/img/dogs/dog3.jpg">
    <img src="~/img/dogs/dog4.jpg">
    <img src="~/img/dogs/dog5.jpg">
    <img src="~/img/dogs/dog6.jpg">
  </div>
  <div class="column">
    <img src="~/img/dogs/dog7.jpg">
    <img src="~/img/dogs/dog8.jpg">
    <img src="~/img/dogs/dog9.jpg">
    <img src="~/img/dogs/dog16.jpg">
    
  </div>
  <div class="column">
    <img src="~/img/dogs/dog11.jpg">
    <img src="~/img/dogs/dog12.jpg">
    <img src="~/img/dogs/dog13.jpg">
    <img src="~/img/dogs/dog14.jpg">
    <img src="~/img/dogs/dog15.jpg">
  </div>
</div>


<br /><br /><br /><br /><br /><br /><br /><br />
    </body>

</html>