@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Carousel.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

<div class="swiffy-slider">
  <ul class="slider-container">
    <img src="~/img/Banner_dog1.jpg" alt="Foto 1">
    <img src="~/img/cars.jpg" alt="Foto 2">
    <img src="~/img/cars.jpg" alt="Foto 3">
    <img src="~/img/cars.jpg" alt="Foto 4">
    <img src="~/img/cars.jpg" alt="Foto 1">
  </ul>

  <button type="button" class="slider-nav"></button>
  <button type="button" class="slider-nav slider-nav-next"></button>

  <div class="slider-indicators">
    <button class="active"></button>
    <button></button>
    <button></button>
  </div>
</div>
<br/>

<div class="about_map">
   <div class="texto_sobre">
    <h3>SOBRE A EMPRESA</h3>
        <p>
        Somos uma empresa especializada no cuidado com cachorros, e temos muito a oferecer ao seu pet, 
        como: playground, brincadeiras, enriquecimento ambiental e muito mais.
        Somos "o lugar que seu cão sempre SONHOU!"&nbsp;<a href="Empresa">Saiba mais</a>
        </p>
   </div>
   <div class="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3757.6369065953313!2d-43.23157368447293!3d-19.642814934516913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa5a168bb63cd23%3A0xfc3e50bf7cecbd1b!2sC%C3%A3oportado%20Adestramento%2C%20Hotel%20e%20Creche%20para%20c%C3%A3es!5e0!3m2!1spt-BR!2sbr!4v1654647104686!5m2!1spt-BR!2sbr" 
      width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

   </div>
</div>

