@{
    ViewData["Title"] = "Login";
}

<div class="text-center32">
    <h1 class="display-4">Não Tira</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>