@{
    ViewData["Title"] = "Meu Pet";
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    <title>Meu Pet</title>
    <link rel="stylesheet" href="~/css/MeuPerfil.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
</head>
<body>
   <div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      Perfil do Pet
    </h4>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
         
          
          </div>
        </div>

        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <div class="card-body media align-items-center">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-dog-dog-and-cat-justicon-flat-justicon.png" class="d-block ui-w-80">
                <div class="media-body ml-4">
                    <div class="text-right mt-3">
                        <button asp-controller="CadPet" asp-action="Create" type="button" class="btn btn-primary">+ Adicionar outro pet</button>
                     </div>
                   
                  
                    
                </div>
              </div>
              <hr class="border-light m-0">

              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">Nome </label>
                  <input id="campoNome" type="text" class="form-control" value="">
                </div>
                <div class="form-group">
                  <label class="form-label">CPF do dono</label>
                  <input id="campoCPF" type="text" class="form-control" value="">
                </div>
                 <div class="form-group">
                  <label class="form-label">Ano de nascimento</label>
                  <input id="campoAno" type="text" class="form-control" value="">
                </div>
                 <div class="form-group">
                  <label class="form-label">Raça</label>
                  <input id="campoRaca" type="text" class="form-control" value="">
                </div>
                  <div class="form-group">
                  <label class="form-label">Porte</label>
                  <input id="porte" type="text" class="form-control" value="">
                </div>
                <div class="form-group">
                  <label class="form-label">Vacinas</label>
                  <input id="vacinas" type="text" class="form-control" value="">
                </div>
            </div>

              </div>
            </div>
            

              </div>
            </div>
          </div>
      <br><br>
    

    <script>
        jQuery(function($){
            $("#campoCPF").mask("999.999.999-99",{placeholder:"000.000.000-00"});
            $("#campoAno").mask("9999",{placeholder:"0000"});
            });
    </script>
    
</body>

</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}