@{
    ViewData["Title"] = "Perfil Dropdown";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Perfil.css">
   
    
</head> 
<body>
    <div class="action">
        <div class="profile" onclick="menuToggle();">
        </div>

        <div class="menu">
            <h3>
                Editar perfil
                <div>
                    Olá, @User.Identity.Name
                </div>
            </h3>
            <ul>
                <li>
                    <img src="~/img/edit-profile.png"/>
                    <a href="MeuPerfil">Meu perfil</a>
                </li>
                <li>
                    <img src="~/img/pet-icon.png"/>
                    <a href="MeuPet">Meu pet</a>
                </li>
                <li>
                    <img src="~/img/reserva-icon.png"/>
                    <a href="#">Reservas</a>
                </li>
              <li><img src="~/img/log-out.png"><a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Logout">Sair</a></li>
            </ul>
        </div>
    </div>
     <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>
</body>
</html>















