@model PetHotel.Models.ReservationViewModel

@{
	Layout = null;
}

<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
   
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	<link href="/W3/css/bootstrap-datepicker.css" rel="stylesheet"/>
	<script src="/W3/js/bootstrap-datepicker.min.js"></script> 
	<script src="/W3/js/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="/w3/css/jquery-ui.css" rel="stylesheet"> 
	<link href="/w3/css/font-awesome.css" rel="stylesheet"> 
	<link href="/w3/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
	<link href="/w3/css/style.css" rel='stylesheet' type='text/css' />
	<!--fonts--> 
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

		
</head>
<body>
<!--background-->

<h1> Agenda CãoPortado </h1>
<div class="bg-agile">
	<div class="book-reservation">
		@using (Html.BeginForm("Create", "Reservations", FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			<div class="form-date-w3-agileits">
				<label><i class="fa fa-user" aria-hidden="true"></i> Nome :</label>
				<input type="text" name="Name" readonly="readonly" value="@User.Identity.Name" required=""/>
			</div>
			<div class="form-date-w3-agileits">
				<label><i class="fa fa-envelope" aria-hidden="true"></i> E-mail :</label>
				<input type="email" name="Email" placeholder="Digite seu e-mail" required=""/>
			</div>
			<div class="form-date-w3-agileits">
				<label><i class="fa fa-calendar" aria-hidden="true"></i> Data de Chegada :</label>
				<input id="datepicker1" name="DataDeChegada" type="text"  required="">
			</div>
			<div class="form-time-w3layouts">
				<label><i class="fa fa-clock-o" aria-hidden="true"></i> Hora da Chegada :</label>
				<input type="text" name="HoraDeChegada" class="timepicker form-control" value="Hrs:Min">
			</div>
			<div class="form-date-w3-agileits">
				<label><i class="fa fa-calendar" aria-hidden="true"></i> Data da Saída :</label>
				<input id="datepicker2" name="DataDePartida" type="text"  required="">
			</div>
			<div class="form-time-w3layouts">
				<label><i class="fa fa-clock-o" aria-hidden="true"></i> Hora da Saída :</label>
				<input type="text" name="HoraDePartidar" class="timepicker form-control" value="Hrs:Min">
			</div>
			<div class="form-left-agileits-w3layouts bottom-w3ls">
				<label><i class="fa fa-home" aria-hidden="true"></i> Serviços :</label>
				@Html.DropDownListFor(m=>m.Serviços, new SelectList(ViewBag.Serviços,"Value","Text"),new { @class = "form-control"})
			</div>
			<div class="form-left-agileits-w3layouts">
				<label><i class="fa fa-users" aria-hidden="true"></i> Quantos Cachorros ? :</label>
				@Html.DropDownListFor(m=>m.QuantidadeDePets, new SelectList(ViewBag.QuantidadeDePets,"Value","Text"),new { @class = "form-control"})
			</div>
			<div class="clear"> </div>
			<div class="make">
				<input type="submit" value="Reservar ">
			</div>

		}
		    
	</div>
</div>
<script type="text/javascript">
	$("#datepicker1,#datepicker2").datepicker({	
		format: "dd/mm/yyyy",	
		language: "pt-BR",
		startDate: '+0d',
	});
</script>
<script type="text/javascript" src="/w3/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/w3/js/wickedpicker.js"></script>
<script type="text/javascript">
	$('.timepicker').wickedpicker({twentyFour: false});
</script>
			

</body>
</html>