* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #C5DBD9;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}


/*Quem somos - topo*/

div.about-top h1 {
    color: black;
    text-align: center;
    font-size: 40px;
}

div .about-top p {
    color: black;
    text-align: center;
    font-size: 15px;
}

/*containers serviços*/

div .container {
    height: 300px;
    width: 300px;
    display: inline-grid;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #FBFBFC;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div .container:hover {
    background-color: #6AC7BC;
    transition-duration: 0.5s;
}

h3 {
    text-align: center;
    padding-top: 0.5em;
}

div .container p {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
}

 /*album*/

