h1 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    font-family: Heebo;
    font-size: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
}

.card {
    background-color: #70dde4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 10px #000067
}

.card h3 {
    font-family: Rubik;
}


.stars .user {
    width: 20px;
    max-height: 20px;
}

body {
    background-color: #f1ece9;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

p {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    background-color: #f5f5f5;
    border-radius: inherit;
}
