<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CãoPortado</title>
    <link rel="shortcut icon" href="~/img/Sem_titulo-1.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CãoPortado.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/menu-servico.css" />
    
</head>
<body>
    <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand"><img src="~/img/Sem_titulo-1-removebg-preview.png" style="width:40px; height:35px;"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="Index">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Depoimentos">Depoimentos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Empresa">A Empresa</a>
                      </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Serviços
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" asp-controller="Reservations" asp-action="Create">Creche</a>
                          <a class="dropdown-item" asp-controller="Reservations" asp-action="Create">Hotelzinho</a>
                          <a class="dropdown-item" asp-controller="Reservations" asp-action="Create">Adestramento</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" asp-controller="CadPet" asp-action="Create">Cadastro Pet</a>
                      </li>
                    }
                    
                    </ul>
                  </div>  
                  
                  @if (User.Identity.IsAuthenticated)
                        {
                            <!--
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"></a>
                            </li>-->

                            
                            @if ((User.IsInRole("Admin")))
                            {
                                <li class="nav-link">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Usuários</a>
                                </li>
                            }

                        }
                            
                            
                    </ul>


                   <ul Class="navbar-nav">
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                 <a class="nav-link text-dark">Perfil</a>
                            </li>
                            <div class="action">
                                <div class="profile" onclick="menuToggle();">
                                </div>

                                <div class="menu">
                                    <h3>
                                        Editar perfil
                                        <div>
                                            Olá, @User.Identity.Name
                                        </div>
                                    </h3>
                                    <ul>

                                        <li><img src="~/img/edit-profile.png"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MeuPerfil">Meu perfil</a></li>

                                        <li><img src="~/img/pet-icon.png"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MeuPet">Meu pet</a></li>

                                        <li><img src="~/img/reserva-icon.png"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="#">Reservas</a></li>

                                       <li><img src="~/img/log-out.png"><a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Logout">Sair</a></li>

                                        </ul>
                                 </div>
                                 </div>
        

                        }
                        else
                        {
                           <li class="nav-link">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Login">Entrar</a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>
               <br />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
   <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    
    <footer style="background-color:white">
        <div class="container">
            <a href="https://www.facebook.com/caoportado.itabira" target="_blank"><img src="~/img/icons8-facebook-48 (1).png"  style="width:30px; padding-top:5px; padding-bottom:5px;"/></a>
            <a href="https://www.instagram.com/cao.portado/" target="_blank"><img src="~/img/icons8-instagram-48.png" style="width:30px; padding-top:5px; padding-bottom:5px;"/></a> 
            &nbsp;   
            (31) 3834-9723  (31) 9.9394-7834 &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  
            &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &copy; 2022 - CãoPortado
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>
