@model PetHotel.Models.Clientes

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Perfil do Usuário</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <span>Endereço</span>
                <label class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span>Telefone</span>
                <label class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span>E-mail</span>
                <label class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span>Nova senha</span>
                <label class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span>Confirme a senha</span>
                <label class="control-label"></label>
                <input asp-for="Senha2" class="form-control" />
                <span asp-validation-for="Senha2" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>



    <script>
        jQuery(function($){
            $("#campoTelefone").mask("(99)9.9999-9999",{placeholder:"(00)0.0000-0000"});
        });
    </script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
