@model PetHotel.Models.Clientes

@{
    ViewData["Title"] = "Login";
}


<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<form asp-action="Login">
    
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div><br/>

            <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-primary" /> |
            <a class="btn btn-info" asp-controller="Home" asp-action="Index">Voltar</a>
            </div><br/>
        </form>
        <h3>@ViewBag.Message </h3>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
