
/*Navegação*/
header {
    display: flex;
    justify-content: 15px, 15px;
    height: 80px;
    background-color: #4F4F4F;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 960px;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 9px;
}

.logo a img {
    width: 125px;
    height: auto;
}

/* Cabeçario Menu */
.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-left: 21px;
    border-radius: 24px;
}

nav a:hover {
    color: #fff;
    background-color: #FFC20E;
}

@media only screen and (max-width: 600px) {
    #sb-search-example {
        width: 150px;
        margin-top: 0px;
    }
}

/*Menu */

:root {
    --cor-fundo: #FFC20E;
    --cor-hover: rgb(118, 180, 145);
    --cor-primaria: rgb(231, 241, 236);
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
    border-top-left-radius: 45PX;
    border-top-right-radius: 45PX;

}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    display: flex;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 5;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 190px border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.dp-menu ul ul li a {
    display: block;
}

/*login*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;

}

Body {
    background-image: url('./img/login.jpg');
    background-size: cover;
    /* backgraud-positions-y: -200px; */
}

textarea:focus,
input:focus {
    outline: none
}

body a label {
    font-size: 8rem;

}

a:hover {
    color: #08558B
}

/* CONTAINER LOGIN */
#login-container {

    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/* formulario */

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label,
input{
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;

}

input:focus {
    border-bottom: 2px solid #08558B;
}


#forgot-pass {
    text-align: center;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #08558B;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0d3148;
    transition: .5s;
}

/* redes sociais */

#social-container {
    margin-bottom: 20px;

}

#social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook-f {
    background-color: #08558B;
}

.fa-facebook-f:hover{
    background-color: #0d3148;
    transition: .5s;
}

.fa-linkedin {
    background-color: #08558B;
}

.fa-linkedin:hover{
    background-color: #0d3148;
    transition: .5s;
}

/* CADASTRAR */

#cadastrar-container p {
    margin-bottom: 10px;
}