        /*Navegação*/
    
    header {
        display: flex;
        justify-content: 15px, 15px;
        height: 80px;
        background-color: #4F4F4F;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        width: 960px;
    }
    
    .logo {
        display: flex;
        align-items: center;
        margin-top: 9px;
    }
    
    .logo a img {
        width: 125px;
        height: auto;
    }
    /* Cabeçario Menu */
    
    .menu {
        display: flex;
        align-items: center;
    }
    
    nav ul,
    nav li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul {
        display: flex;
    }
    
    nav a {
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin-left: 21px;
        border-radius: 24px;
    }
    
    nav a:hover {
        color: #fff;
        background-color: #FFC20E;
    }
    /*Menu */
    
    :root {
        --cor-fundo: #FFC20E;
        --cor-hover: rgb(118, 180, 145);
        --cor-primaria: rgb(231, 241, 236);
    }
    
    .dp-menu ul {
        list-style-type: none;
        padding: 0;
        border-top-left-radius: 45PX;
        border-top-right-radius: 45PX;
    }
    
    .dp-menu ul {
        background-color: var(--cor-fundo);
    }
    
    .dp-menu ul li {
        display: inline;
        position: relative;
    }
    
    .dp-menu ul li a {
        color: var(--cor-primaria);
        text-decoration: none;
        display: inline-block;
        padding: 20px;
        display: flex;
        transition: background .3s;
    }
    
    .dp-menu ul li a:hover {
        background-color: var(--cor-hover);
    }
    /*sub menu*/
    
    .dp-menu ul ul {
        display: none;
        left: 5;
        position: absolute;
    }
    
    .dp-menu ul li:hover ul {
        display: block;
    }
    
    .dp-menu ul ul {
        width: 190px border-bottom-right-radius: 45px;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
    }
    
    .dp-menu ul ul li a {
        display: block;
    }
    /* Registro */
    
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 'inter', sans-serif;
    }
    
    body .container1 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0c0ce94d;
    }
    
    .container1 {
        width: 80%;
        height: 80vh;
        display: flex;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    }
    
    .form-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fde3a7d7;
        padding: 9.5rem;
    }
    
    .form-image img {
        width: 31rem;
    }
    
    .form {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding: 3.1rem;
    }
    
    .form-header {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
    }
    
    .login-button {
        display: flex;
        align-items: center;
    }
    
    .login-button button {
        border: none;
        background-color: #6c63ff;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .login-button button:hover {
        background-color: #6b63fff1;
    }
    
    .login-button button a {
        text-decoration: none;
        font-weight: 500;
        color: #fff;
    }
    
    .form-header h1::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: #6c63ff;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
    }
    
    .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
    }
    
    .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
    }
    
    .input-box input {
        margin: 0.6rem;
        padding: 0.8rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
    }
    
    .input-box input:hover {
        background-color: #eeeeee75;
    }
    
    .input-box input:focus-visible {
        outline: 1px solid #6c63ff;
    }
    
    .input-box label {
        font-size: 0.75rem;
        font-weight: 600;
        color: #000000be
    }
    
    .gender-group {
        display: flex;
        justify-content: space-between;
        margin-top: 0.62rem;
        padding: 0 0.5rem;
    }
    
    .gender-input {
        display: flex;
        align-items: center;
    }
    
    .gender-input input {
        margin-right: 0.35rem;
    }
    
    .gender-input label {
        font-size: 0.81rem;
        font-weight: 600;
        color: #000000c0;
    }
    
    .continue-button button {
        width: 100%;
        margin-top: 2.5rem;
        border: none;
        background-color: #6c63ff;
        padding: 0.65rem;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .continue-button button:hover {
        background-color: #6c63fff1;
    }
    
    .continue-button button a {
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: #fff;
    }
    
    @media screen and (max-width:1330px) {
        .form-image {
            display: none;
        }
        .container {
            width: 50%
        }
        .form {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 1064px) {
        .container {
            width: 90%;
            height: auto;
        }
        .input-group {
            flex-direction: column;
            overflow-y: scroll;
            flex-wrap: nowrap;
            max-height: 10rem;
            padding-right: 5rem;
        }
        .gender-input {
            margin-top: 2rem;
        }
        .gender-group {
            flex-direction: column;
        }
        .gender-input {
            margin-top: 0.5rem;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .container {
            flex-wrap: wrap;
            /* 15/11 */
            width: 370px;
            /* 15/11 */
            align-items: center;
        }